.root {
  --slide-width: 32rem;
  --slide-gap: 2rem;
  --slide-start: 26rem;
  --slide-move: calc(var(--slide-width) + var(--slide-gap));
}

@media (max-width: 1008px) {
  .root {
    --slide-width: 20rem;
    --slide-start: 20rem;
  }
}

@media (max-width: 768px) {
  .root {
    --slide-width: 14rem;
    --slide-start: 0rem;
  }
}

@media (max-width: 640px) {
  .root {
    --slide-width: 12rem;
    --slide-start: 0rem;
  }
}

.slide {
  width: var(--slide-width);
}
