.t1 {
  width: 200vw;
  transform: translateX(26rem);
}

.t2 {
  width: 200vw;
  transform: translate(0);
}

.t3 {
  width: 200vw;
  transform: translateX(-26rem);
}

.t4 {
  width: 200vw;
  transform: translate(calc(-52rem));
}
